*{
    box-sizing: border-box;
}
h1, h2, h3, h4, ul, li, a, p{
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    height: 100%;
    font-size: 14px;
   
}
.container{
    max-width: 500px;
    width: 95%;
    margin: 0 auto;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.header__container{
    background-color: #fc1a1e;
}